<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883874655865-6leqisbo2l2p36bh9eljgp03ic9irhh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883874655865-6leqisbo2l2p36bh9eljgp03ic9irhh6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883874655865-0n00i02r1d8n6adaut4roul9s5seg9fh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4hylxObbIADEaNkyVelDLgI6rYxOpodM</string>
	<key>GCM_SENDER_ID</key>
	<string>883874655865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bimag.app</string>
	<key>PROJECT_ID</key>
	<string>bimag-92cfa</string>
	<key>STORAGE_BUCKET</key>
	<string>bimag-92cfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883874655865:ios:6dd33419e193327ea16ea8</string>
</dict>
</plist>